.channels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}

.channel-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.channel-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.channel-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.channel-card-header {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-bottom: 2px solid #f44336;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-card-header h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.channel-card-header p {
  font-size: 1rem;
  margin: 0;
}

.channel-card-body {
  padding: 15px;
  font-size: 0.9rem;
  color: #333;
}

.join-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.join-button:hover {
  background-color: #218838;
}

/* Botón de Crear Canal */
.create-channel-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.create-channel-button:hover {
  background-color: #0056b3;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.close-modal {
  background-color: #ccc;
  color: black;
  margin-top: 10px;
}

.close-modal:hover {
  background-color: #aaa;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}