.navbar {
  position: fixed;      /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  height: 40px;         /* Altura fija de la navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  z-index: 1000;        /* Asegura que la navbar esté siempre encima */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 65px;         /* Ajusta el tamaño del logo */
  width: auto;
}

.search-container {
  width: 40%;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.logout button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #f44336;
  border: none;
  cursor: pointer;
}

.logout button:hover {
  background-color: #d32f2f;
}
